#head-nav {
  width: 100%;
}

img {
  float: left;
  max-width: 100%;
  display: block;
}

.help-nav {
  min-height: 21vh;
  background-color: #ffffff;
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-nav {
  background-color: #333645;
  color: #fff;
}
@media (max-width: 992px) {
  .main-nav {
    display: none;
  }
}

.actions {
  float: right;
  padding: 7px;
  font-size: 1.125rem;
}

.support {
  background-color: #286abd;
}
@media (max-width: 992px) {
  .support {
    display: none;
  }
}

.contact {
  background-color: #999aa2;
}
@media (max-width: 992px) {
  .contact {
    display: none;
  }
}

.search-bar {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-right: 40px;
  height: 47px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin: auto;
  padding: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

li {
  text-align: center;
  flex-grow: 1;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

li > a {
  position: relative;
  display: block;
  color: #fff;
  padding: 18px 0 18px;
  text-transform: uppercase;
  font-size: 1.125rem;
  text-decoration: none;
  line-height: 1;
}

.menu-burger {
  background-color: #333645;
  color: #fff;
}

.section {
  padding: 50px 0;
}

.service-list {
  margin-top: -30px;
}

#main-info {
  background-color: #333645;
}

.brand-background {
  background-image: url(/netmatters_site/images/branded.png);
}

#info {
  width: 50%;
}

.info {
  color: #fff;
  padding: 15px 50px;
}

.info h1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 28px;
}

.info p {
  line-height: 1.875rem;
  margin-bottom: 25px;
  display: block;
}

.column {
  position: relative;
  min-height: 1px;
  padding: 0 15px;
}

.software span.icon {
  background-color: #67809f;
  font-size: 1.438rem;
  line-height: 58px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

div {
  display: block;
}

body {
  height: 100%;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #666;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 700px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.hero-image {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/web-design.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.hero-text h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  margin: 0 0 25px;
}
.hero-text p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin: 0 0 35px;
}
.hero-text button {
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  line-height: 50px;
  height: auto;
  padding: 5px 20px;
  font-size: 1.25rem;
  border-radius: 3px;
  white-space: normal;
}

h1 {
  line-height: 1.1;
}

.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.063rem;
  vertical-align: center;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid transparent;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.block {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
.block span {
  display: block;
}
.block span.icon {
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  color: #fff;
  border-radius: 50%;
}
.block span.h2 {
  font-size: 1.125rem;
}

/*# sourceMappingURL=style.css.map */
