// partial imports
@import 'partials/header';



//Body styles

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div {
    display: block;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.head-image {
    width: 100vw;
}