// partial imports
@import 'partials/variables',
        'partials/header',
        'partials/body',
        'partials/footer',
        'partials/icons',
        'partials/media',
        'partials/sidenav';

@import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss',
        '../node_modules/hamburgers/_sass/hamburgers/base';


//Body styles

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;

    // background: #000 !important;
    // color: #0f0 !important;
    // outline: solid #f00 1px !important;
}

.main-outer {
    height: 100%;
    overflow: auto;
}

#main {
    transition: .5s;
}

.btn-pressed {
    position: absolute;
    left: -275px;
}

div {
    display: block;
}

body {
    height: 100%;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
    overflow-x: hidden;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

// Hero banner //

.hero-image {
    height: 80vh;
    background-image: linear-gradient(to right, rgb(0,0,0), rgba(0,0,0,.45) 40%, transparent 75%), url(../images/web-design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

    @media (min-width: $break-xs) and (max-width: $break-s) {
        width: 420px;
    }

    @media (min-width: $break-m) and (max-width: $break-l){
        width: 940px;
    }

    h1 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 3rem;
        margin: 0 0 25px;
    }

    p {
        font-size: 1.25rem;
        line-height: 2.25rem;
        margin: 0 0 35px;
        
        @media (min-width: $break-m) {
            width: 50%;
        }
    }

    button {
        color: #fff;
        background-color: $purple;
        border-color: $purple;
        line-height: 50px;
        height: auto;
        padding: 5px 20px;
        font-size: 1.25rem;
        border-radius: 3px;
        white-space: normal;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { 
            height: 60px;
        }
    }

    button:hover {
        background-color: #7e57a0;
        border-color: #735093;
    }

    svg {
        margin-right: -4px;
        margin-left: 12px;
        line-height: 50px;
    }

    @media (min-width: $break-m) {
        text-align: left;
    }
}

//Generic Rules //

h1 {
    line-height: 1.1;
}

.btn {
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.063rem;
    vertical-align: center;
    cursor: pointer;
    border-radius: 3px;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.block {
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
    text-align: center;
    text-decoration: none;
    font-family: Poppins, sans-serif;

    span {
        display: block;
    }

    span.icon {
        height: 60px;
        width: 60px;
        margin: 0 auto 17px;
        color: #fff;
        border-radius: 50%;
        font-weight: 400;
    }

    span.h2 {
        font-size: 1.125rem;
        font-weight: 400;
        position: relative;
        padding-bottom: 17px;
        margin: 0 0 11px;
        color: #333645;
        text-decoration: none;
    }

    span.h2::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 28px;
        height: 3px;
        display: block;
        background-color: #333645;
    }

    span.p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 13px;
        font-weight: 400;
        color: #333645;
    }
    
    span.btn-container {
        height: auto;
        line-height: 35px;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1.063rem;
        border-radius: 3px;
        white-space: normal;
        display: inline-block;
        margin-bottom: 0;
    }
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: auto;
    padding: 0;
}

li {
    text-align: center;
    flex-grow: 1;

    >a {
        position: relative;
        display: block;
        color: #fff;
        padding: 18px 0 18px;
        text-transform: uppercase;
        font-size: 1.125rem;
        text-decoration: none;
        line-height: 1;
    }
}

button {
    border: none!important;
    outline: none!important;
    border-image: none!important;
    border-style: none!important;
}
