// partial imports
@import 'partials/variables',
        'partials/header',
        'partials/body';


//Body styles

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

div {
    display: block;
}

body {
    height: 100%;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: $break-l) {
        width: 1200px;
    }
    @media (max-width: $break-m) {
        width: 970px;
    }
    @media (max-width: $break-s) {
        width: 750px;
    }
    @media (max-width: $break-xs) {
        width: 700px;
    }
}

.hero-image {
    height: 80vh;
    background-image: url(../images/web-design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    color: #fff;
}

.btn {
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.063rem;
    vertical-align: center;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid transparent;
}

.btn a {
    text-decoration: none;
    color: #fff;
}