
//Article Styles

.section {
    padding: 50px 0;
}

.service-list {
    margin-top: -30px;
}

#main-info {
    background-color: #333645;
}

.brand-background {
    background-image: url(/netmatters_site/images/branded.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto 100%;
}

.info {
    color: #fff;
    padding: 15px 50px;
    font-family: Poppins, sans-serif;

    h1 {
        text-transform: uppercase;
        font-size: 2.25rem;
        font-weight: 400;
        margin: 0 0 28px;
    }

    p {
        line-height: 1.875rem;
        margin-bottom: 25px;
        display: block;
    }

    button {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        height: auto;
        line-height: 35px;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1.063rem;
        background-color: #fff;
        border-color: #fff;
        border-radius: 3px;
        white-space: normal;
    }

    svg {
        line-height: 35px;
        margin-right: -4px;
        margin-left: 12px;
        color: #333645;
    }
}

.column {
    position: relative;
    min-height: 1px;
    padding: 0 15px;
}

// Latest articles styles
 .active {
    
    float: left;
    padding: 0; 
    text-align: left;

     span {
        font-family: Poppins, sans-serif;
        display: block;
        padding: 40px 0;
        color: #333645;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 600;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #333645;
            height: 5px;
            width: 4.5rem;
         }
    }
 }

.latest-list {
    padding-left: 0;
    border: 0;
}

.latest-bar {
    box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
}

.articles-list {
    .item {
        font-size: .8125rem;
        margin-top: 30px;
    }

    .category {
        position: absolute;
        top: 10px;
        right: 0;
        color: #fff;
        font-size: .75rem;
        padding: 0 10px;
        line-height: 1.438rem;
        text-transform: uppercase;
        opacity: 1;
        z-index: 1;
    }

    .tooltip {
        background-color: $purple;
    }

    .image-container {
        display: block;
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        position: relative;
    }

    img {
        width: 100%;
        height: auto;
        vertical-align: middle;
        border: 0;
    }

    .block {
        margin-top: 0;
        font-family: Poppins, sans-serif;
        text-align: left;

        p {
            line-height: 1.375rem;
            font-size: .8125rem;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }

        h3 {
            font-weight: 400;
            margin: 0 0 15px;
        }
    }

    .user {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #ccc;
        font-size: .875rem;
        color: #333645;
        text-decoration: none;

        .avatar {
            display: inline-block;
            height: 47px;
            width: 47px;
            border-radius: 50%;
            overflow: hidden;
        }   

        .details {
            display: inline-block;
            padding-left: 20px;
            line-height: 1.375rem;
        }
    }
}

.web {
    .block {
        h3 {
            color: $purple;
        }
    }
    .article-btn-web {
        font-weight: 400;
        color: #fff;
        background-color: $purple;
        border-color: $purple;
        height: auto;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1.063rem;
        border-radius: 3px;
        text-decoration: none;
    }
}

.newsletter-full-width {
    background-color: #ddd;
}