.section {
    padding: 50px 0;
}

.service-list {
    margin-top: -30px;
}

#main-info {
    background-color: #333645;
}

.brand-background {
    background-image: url(/netmatters_site/images/branded.png);
}

#info {
    width: 50%;
}

.info {
    color: #fff;
    padding: 15px 50px;
}

.info h1 {
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0 0 28px;
}

.info p {
    line-height: 1.875rem;
    margin-bottom: 25px;
    display: block;
}

.column {
    position: relative;
    min-height: 1px;
    padding: 0 15px;
}