
//Article Styles

.section {
    padding: 50px 0;
}

.service-list {
    margin-top: -30px;
}

#main-info {
    background-color: #333645;

    .brand-background {
        background-image: url(/netmatters_site/images/branded.png);
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: auto 100%;
    }
    
    .info {
        color: #fff;
        padding: 50px 15px;
        font-family: Poppins, sans-serif;
    
        h1 {
            text-transform: uppercase;
            font-size: 2.25rem;
            font-weight: 400;
            margin: 0 0 28px;
        }
    
        p {
            line-height: 1.875rem;
            margin-bottom: 25px;
            display: block;
        }
    
        button {
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            height: auto;
            line-height: 35px;
            padding: 5px 15px;
            text-transform: uppercase;
            font-size: 1.063rem;
            background-color: #fff;
            border-color: #fff;
            border-radius: 3px;
            white-space: normal;
        }

        button:hover {
            background-color: #ebebeb;
            border-color: #e0e0e0;
        }
    
        svg {
            line-height: 35px;
            margin-right: -4px;
            margin-left: 12px;
            color: #333645;
        }
    }
}

.column {
    position: relative;
    min-height: 1px;
    padding: 0 15px;
}

// Latest articles styles
 .active {
    
    float: left;
    padding: 0; 
    text-align: left;

     span {
        font-family: Poppins, sans-serif;
        display: block;
        padding: 40px 0;
        color: #333645;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 600;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #333645;
            height: 5px;
            width: 4.5rem;
         }
    }
 }

.latest-list {
    padding-left: 0;
    border: 0;
}

.latest-bar {
    box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
}

.article-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.articles-list {

    .item {
        font-size: .8125rem;
        margin-top: 30px;
    }

    .category {
        position: absolute;
        top: 10px;
        right: 0;
        color: #fff;
        font-size: .75rem;
        padding: 0 10px;
        line-height: 1.438rem;
        text-transform: uppercase;
        opacity: 1;
        z-index: 1;
    }

    .tooltip {
        background-color: $purple;
    }

    .image-container {
        display: block;
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        position: relative;
    }

    img {
        width: 100%;
        height: auto;
        vertical-align: middle;
        border: 0;
    }

    .block {
        margin-top: 0;
        font-family: Poppins, sans-serif;
        text-align: left;

        p {
            line-height: 1.375rem;
            font-size: .8125rem;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }

        span {
            font-weight: 600;
            margin: 0 0 15px;
        }
    }

    .user {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #ccc;
        font-size: .875rem;
        color: #333645;
        text-decoration: none;

        .avatar {
            display: inline-block;
            height: 47px;
            width: 47px;
            border-radius: 50%;
            overflow: hidden;
        }   

        .details {
            display: inline-block;
            padding-left: 20px;
            line-height: 1.375rem;
        }
    }
}

.web-a {
    .block {
        span {
            color: $purple;
        }
    }
    .article-btn-web {
        font-weight: 400;
        color: #fff;
        background-color: $purple;
        border-color: $purple;
        height: auto;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1.063rem;
        border-radius: 3px;
        text-decoration: none;
    }
}

.articles {
    box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
}

//Clients

.clients-section {
    padding-top: 50px;
    padding-bottom: 50px;

    .client-list {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .client-list .item {
        flex-grow: 1;
        vertical-align: middle;
        padding: 0 20px;
        position: relative;
    }

    .client-list .item .description {
        display: none;
        position: absolute;
        bottom: 100%;
        left: -200px;
        right: -200px;

        .box {
            background-color: #333645;
            color: #fff;
            padding: 20px;
            font-size: .875rem;
            max-width: 260px;
            margin: 0 auto 50px;
        }
    }

    .client-list .item .description .box {
        h3 {
            position: relative;
            font-size: 1.125rem;
            color: #fff;
            padding-bottom: 17px;
            margin: 0 0 11px;
        }

        p {
          font-size: .8125rem;
          line-height: 1.375rem;
          margin-bottom: 0;
        }

        .arrow {
            position: absolute;
            bottom: 10px;
            left: 50%;
            margin-left: -36px;
        }

        .arrow::after {
            content: "";
            margin: auto;
            display: inline-block;
            border-color: #333645 transparent transparent;
            border-style: solid;
            border-width: 35px 36px 0;
        }
    }
    .client-list .item:hover .description {
        display: block;
    }


}


.newsletter-full-width {
    background-color: #ddd;
}

.sign-up {
    margin: 0;
    padding: 50px 30px;

    h2 {
        font-size: 2rem;
        font-weight: 400;
        margin: 0 0 15px;
        color: #333645;
    }

    .sign-up-inputs-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.sign-up-input {
    flex: 1 1 450px;
    padding-left: 15px;
    padding-right: 15px;

    .form-group {
        margin-bottom: 15px;

        label {
            display: inline-block;
            font-weight: 600;
            color: #333645;
            margin-bottom: 5px;
        }

        .form-control {
            height: 47px;
            padding: 5px 15px;
            border-color: #ccc;
            width: 100%;
        }
    }
}

.required {
    ::after {
        content: " *";
        color: #d24d57;
    }
}

.cb {
    display: flex;
    flex-direction: row;
}

.marketing-label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    line-height: 32px;
    margin-bottom: 30px;
}

    .marketing-label::before {
            content: "";
            width: 32px;
            height: 32px;
            background-color: #ddd;
            border: 3px solid #333645;
            border-radius: 3px;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
    }

.marketing-label #marketing-optin:checked {
    &::before {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        background-color: #333645;
        left: 0;
        top: 0;
        border-radius: 3px;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 5px;
        border-left: 2.8px solid #ddd;
        border-bottom: 2.8px solid #ddd;
        transform: rotate(-45deg);
        top: 11px;
        left: 8px;
    }
}

.media-body {
    font-weight: 600;
    color: #333645;
    display: inline-block;
    margin: 0;
    padding-left: 50px;
    margin-top: -32px;

        a {
            color:#333645;
        }
}

.newsletter-button {
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    color: #fff;
    background-color: #333645;
    border-color: #333645;

    &:hover {
        background-color: #22242e;
        border-color: #191a22;
    }
}