
 footer {
     background-color: #333645;
     color: #fff;
     padding: 47px 0 43px;

     .row {
         margin-left: -15px;
         margin-right: -15px;
     }

     .f-column {
        position: relative;
        min-height: 1px;
        padding: auto 15px;
    }
 }