//Header styles 
#head-nav {
    width: 100%;

    .main-nav {
        background-color: #333645;
        color: #fff;

        @media (max-width: $break-m) {
            display: hidden;
        }
    }

    .help-nav {
        padding: 20px 0;
    }

    .header-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -15px;
        margin-right: -15px;
        align-items: center;
    }

    .logo-container {
        width: 299px;
    }

    .logo-img {
        max-width: 100%;
        padding-left: 15px;
        display: block;
    }

    .actions {
        line-height: 46px;
        font-size: 1.125rem;
        font-family: Poppins, sans-serif;

        button {
            text-transform: uppercase;
            padding: 5px 15px;
            border-radius: 3px;
            white-space: normal;
        }
    }

    .call-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        margin: 0 15px 15px 5px;
        color: #333645;
    }

    .btn-support {
        background-color: $blue;
        border-color: $blue;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .btn-contact {
        background-color: #999aa2;
        border-color: #999aa2;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .menu-button {
        background-color: #333645;
        padding: 0;
        border: none;
        margin-right: 15px;
        margin-left: 20px;
    }

    .menu-button:hover {
        background-color: #22242e;
        border-color: #191a22;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
      }

      .menu-text {
          font-family: Poppins,sans-serif;
          font-size: .75rem;
          color:#fff;
          margin: 0;
          line-height: 1.1;
      }

      .search-bar {
          margin-left: 15px;
          margin-right: 15px;
          background-color: rgba(0,0,0,.1);
          outline: 1px solid hsla(0,0%,100%,.2);
          border: 2px solid rgba(0,0,0,.1);
          width: 100%;
          height: 47px;
          padding: 5px 15px;
          display:inline-block;
          font-size: 14px;
          color: #555;
      }

      .search-bar-wrapper {
          display: flex;
          flex-direction: row;
          width: 100%;
          margin-top: 9px;

          i {
              color: #333645;
              position: absolute;
              top: 107px;
              right: 28px;
          }
      }

    .title {
        display: block;
        font-size: .75rem;
        line-height: 1;
        position: relative;
        top: 5px;
        margin-bottom: 0;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        margin: auto;
        padding: 0;
        border-left: 1px solid hsla(0, 0%, 100%, .1);
        border-right: 1px solid rgba(0, 0, 0, .25);
    }

    li {
        text-align: center;
        flex-grow: 1;
        border-left: 1px solid hsla(0, 0%, 100%, .1);
        border-right: 1px solid rgba(0, 0, 0, .25);

        >a {
            position: relative;
            display: block;
            color: #fff;
            padding: 18px 0 18px;
            text-transform: uppercase;
            font-size: 1.125rem;
            text-decoration: none;
            line-height: 1;
        }
    }
}