i {
    font-size: 1.4rem;
    vertical-align: middle;
}

.software {

    span.icon {
        background-color: $gray;
        line-height: 58px;
    }

    span.btn-container {
        color: #fff;
        background-color: $gray;
        border-color: $gray;
    }
}

.it {

    span.icon {
        background-color: $blue;
        line-height: 58px;
    }

    span.btn-container {
        color: #fff;
        background-color: $blue;
        border-color: $blue;
    }
}

.digital {

    span.icon {
        background-color: $green;
        line-height: 58px;
    }

    span.btn-container {
        color: #fff;
        background-color: $green;
        border-color: $green;
    }
}

.telecoms {

    span.icon {
        background-color: $red;
        line-height: 58px;
    }

    span.btn-container {
        color: #fff;
        background-color: $red;
        border-color: $red;
    }
}

.cyber {

    span.icon {
        background-color: $pink;
        line-height: 58px;
    }

    span.btn-container {
        color: #fff;
        background-color: $pink;
        border-color: $pink;
    }
}

.web,
.developer {

    span.icon {
        background-color: $purple;
        line-height: 58px;
    }

    span.btn-container {
        color: #fff;
        background-color: $purple;
        border-color: $purple;
    }
}