i {
    font-size: 1.4rem;
}

.software {

    span.icon {
        background-color: #67809f;
        line-height: 58px;
    }

    span.btn-container {
        color: #fff;
        background-color: #67809f;
        border-color: #67909f;
    }
}

.it {

    span.icon {
        background-color: #4183d7;
        line-height: 58px;
    }

    span.btn-container {
        color: #fff;
        background-color: #4183d7;
        border-color: #4183d7;
    }
}

.digital {

    span.icon {
        background-color: #2ecc71;
        line-height: 58px;
    }

    span.btn-container {
        color: #fff;
        background-color: #2ecc71;
        border-color: #2ecc71;
    }
}

.telecoms {

    span.icon {
        background-color: #d64541;
        line-height: 58px;
    }

    span.btn-container {
        color: #fff;
        background-color: #d64541;
        border-color: #d64541;
    }
}

.cyber {

    span.icon {
        background-color: #f62459;
        line-height: 58px;
    }

    span.btn-container {
        color: #fff;
        background-color: #f62459;
        border-color: #f62459;
    }
}

.web,
.developer {

    span.icon {
        background-color: #926fb1;
        line-height: 58px;
    }

    span.btn-container {
        color: #fff;
        background-color: #926fb1;
        border-color: #926fb1;
    }
}