.sidebar {

    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    height: 100%;
    width: 275px;
    background-color: #333645;
    overflow: auto;
    display: flex;
    flex-direction: column;
    transform: translate(275px);
    transition: .5s;

    .main {
        padding: 21px;

        ul {
            margin: -20px 0 0;
            display: flex;
            flex-direction: column;
        }

        .head-li {
            padding: 20px 0 0;
            
            a {
                display: flex;
                flex-direction: column;
            }

            span {
                line-height: 1;
                font-weight: 400;
                padding-bottom: 10px;
                font-size: 1.438rem;
            }
        }

        small {
            font-size: .625rem;
            padding-bottom: 8px;
        }

        ul li a {
            font-size: 1.125rem;
            padding: 19px 0 18px;
            border-radius: 3px;
            outline: 1px solid rgba(0,0,0,.25);
            border: 1px solid hsla(0,0%,100%,.1);
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
        }

        ul li ul {
            margin-top: 20px;
            border-radius: 3px;
            overflow: hidden;
            color: #fff;
        }

        .secondary-list-item {
            background-color: rgba(0,0,0,.25);
            font-size: 1rem;
            padding: 15px;
            color: #fff;
        }

        .secondary-list-item:hover {
            .big-one {
                color: red;
            }
        }
    }

    .second-list {
        
        display: flex;
        flex-direction: column;
        color: #fff;

        ul {
            display: flex;
            flex-direction: column;
        }

        ul li a {
            padding: 20px;
            font-size: 1rem;
            line-height: 1;
            background-color: rgba(0,0,0,.25);
        }

        li {
            border-top: 1px solid rgba(0,0,0,.45);
            border-bottom: 1px solid rgba(0,0,0,.25);
        }

        li:hover {
            .side-title {
                background-color: hsla(0,0%,100%,.05);
            }
        }

        li a {
            border-top: 1px solid hsla(0,0%,100%,.1);
            color: #fff;
        }

        
    }

    .side-title {
        text-align: left;
        padding-left: 20px;
        font-size: 1rem;
        
    }

    .menu {

        li{
            display: block;
            border-top: 1px solid hsla(0,0%,100%,.1);
            text-align: left;
            border-top: 1px solid rgba(0,0,0,.45);
        }

        

        li a {
            display: block;
            background-color: rgba(0,0,0,.25);
            font-size: .875rem!important;
            letter-spacing: .4px;
            line-height: 1.428;
            border-top: 1px solid hsla(0,0%,100%,.1);
            color: #fff;
        }

        li a::before {
            content: "»";
            padding-right: 15px;
        }
    }

    .icon-code {
        color: $purple;
    }

    .icon-display {
        color: $blue;
    }

    .icon-phone {
        color: $red;
    }

    .icon-apps {
        color: $gray;
    }

    .icon-bar-graph {
        color: $green;
    }

    .icon-security {
        color: $pink;
    }
}