// Breakpoints

$break-xs: 576px;
$break-s: 768px;
$break-m: 992px;
$break-l: 1260px;
$break-xl: 1260px;

// Color variables

$purple: #926fb1;
$gray: #67809f;
$blue: #4183d7;
$green: #2ecc71;
$red: #d64541;
$pink: #f62459;