// Breakpoints

$break-xs: 576px;
$break-s: 768px;
$break-m: 992px;
$break-l: 1260px;
$break-xl: 1390px;
$break-dm: 1399px;

// Color variables

$purple: #926fb1;
$gray: #67809f;
$blue: #4183d7;
$green: #2ecc71;
$red: #d64541;
$pink: #f62459;

// Mixins

@mixin grayscale_element($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}

//Media Queries

@media (max-width: $break-m) {

    .hidden-s {
        display: none!important;
    }
}



// bug fixing 

 .bugfix {
     border: 1px solid red;
 }