.contact_body {
    .indicator-container {
        box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
        padding: 14px 0 13px;
    }

    .page_indicator {
        display: flex;
        flex-direction: row;

        .home {
            color: #333645;
            font-weight: 700;
        }

        h5 {
            color: #333645;
            font-size: 0.8125rem;
        }
    }

    .main-c {
        padding-top: 50px;

        h3 {
            font-size: 2.25rem;
            font-weight: 400;
            margin: 0 0 28px;
            color: #333645;
            margin-bottom: 50px;
        }
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.contactform-info {
    display: flex;
    flex-direction: row;

    .email_details {
        order: 2;
        padding-right: 15px;
        padding-left: 15px;

        @media (min-width: 1260px) {
            width: 33.333%;
        }

        .basic-details {

            p {
                line-height: 1.875rem;
                margin-bottom: 25px;

                a {
                    font-weight: 600;
                    color: #926fb1!important;
                    font-size: 1.625rem;
                    margin: 0 0 15px;
                    line-height: 1.1;
                    text-decoration: none;
                }
    
                strong {
                    font-weight: 600;
                    color: #333645;
                    }
            }
        }
    }

    .accordian-question {
        line-height: 1.875rem;
        margin-bottom: 25px;

        strong {
            font-weight: 600;
            color: #333645;
            }

        &:hover {
            text-decoration: underline;
        }
    }

    .enquiry-form {
        margin-right: 15px;
        @media (min-width: 1260px) {
            width: 66.666%;
        }
    }

    #contact-form {
        background-color: #e6e7e9;
        border-radius: 10px;
        padding: 30px;

        .row-column{
            width: 50%;
        }
    }

    .form-group {
        margin-bottom: 15px;

        label {
            font-weight: 600;
            color: #333645;
            margin-bottom: 5px;
        }

        .required {
            &:after {
                content: " *";
                color: #d24d57;
            }
        }

        .form-input {
            width: 100%;
            height: 47px;
            padding: 5px 15px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            border-radius: 2px;
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        }
    }
}